
{% extends 'base.html' %}
{% load i18n %}
{% load staticfiles %}
{% block styles %}
<link href="https://gitcdn.github.io/bootstrap-toggle/2.2.2/css/bootstrap-toggle.min.css" rel="stylesheet">
{% endblock %}
{% block scripts %}
<script src="https://gitcdn.github.io/bootstrap-toggle/2.2.2/js/bootstrap-toggle.min.js"></script>
{% endblock %}


{% block content %}

<div class="content-wrapper">
    {% if form.non_field_errors %}
<!--        <div class="card-body">-->
                <div class="alert alert-danger alert-dismissible col-md-12">
                  <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                  <h5><i class="icon fas fa-ban"></i> {% trans "Alert!" %}</h5>
                  {{ form.non_field_errors }}
                </div>

      {% elif form.errors %}
<!--        <div class="card-body">-->
                <div class="alert alert-danger alert-dismissible col-md-12">
                  <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                  <h5><i class="icon fas fa-ban"></i> {% trans "Alert!" %}</h5>
                  {{ form.errors }}
                </div>
    {% endif %}
            {% if error %}
<!--        <div class="card-body">-->
                <div class="alert alert-danger alert-dismissible col-md-12">
                  <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                  <h5><i class="icon fas fa-ban"></i> {% trans "Alert!" %}</h5>
                  {{ error }}
                </div>
        {% elif msg %}
                <div class="alert alert-success alert-dismissible col-md-12">
                  <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                  <h5><i class="icon fas fa-check"></i> {% trans "Alert!" %}</h5>
                  {{msg}}
                </div>
        {% endif %}
    <section class="content-header">
          <div class="container-fluid">
            <div class="row mb-2">
              <div class="col-sm-6">
                <h1>{% trans "Manage Setting" %} <h6> {% trans "update smtp configuration details" %}  </h6></h1>
              </div>
              <div class="col-sm-6">
                <ol class="breadcrumb float-sm-right">
                  <li class="breadcrumb-item"><a href="/dashboard/" class="text-secondary">{% trans "Home" %}</a></li>
                    <li class="breadcrumb-item"><a href="/setting-manager/settings/" class="text-secondary">{% trans "Setting" %}</a></li>
                  <li class="breadcrumb-item active">{% trans "SMTP" %}</li>
                </ol>
              </div>
            </div>
          </div><!-- /.container-fluid -->
        </section>
    <section class="content">
        <div class="row">
            <div class="col-md-8">
                <div class="card card-primary card-outline">
                    <div class="card-header">
                        <h3 class="card-title">{% trans "SMTP Detail" %}</h3>
                    </div>
                    <form method="post" enctype="multipart/form-data" accept-charset="utf-8" role="form" action="/setting-manager/settings/smtp/">
                        {% csrf_token %}
                        <div class="card-body">
                            {% if smtpdata %}
                            <div class="row">
                                <div class="form-group col-md-6">
                                <label for="SMTP_ALLOW">{% trans "Constant/Slug" %}</label>
                                <input type="text"  class="form-control" id="SMTP_ALLOW" readonly name="Constant_Slug"  value="SMTP_ALLOW ">
                              </div>
                                <div class="form-group col-md-6">
                                <label for="setting_checkbox">{% trans "Config Value" %}</label>
                                    <div class="checkbox">
                                <input type="checkbox" id="setting_checkbox" name="SMTP_ALLOW" checked data-toggle="toggle">
                                    </div>
                              </div>
                            </div>
                            <div class="row">
                                <div class="form-group col-md-6">
                                <label for="SMTP_EMAIL_HOST">{% trans "Constant/Slug" %}</label>
                                <input type="text"  class="form-control" id="SMTP_EMAIL_HOST" readonly name="Constant_Slug"  value="SMTP_EMAIL_HOST ">
                                    </div>
                                    <div class="form-group col-md-6">
                                        <label for="SMTP_EMAIL">{% trans "Config Value" %}</label>
                                        <input type="text"  class="form-control" id="SMTP_EMAIL" required name="SMTP_EMAIL" value="{{smtpdata.SMTP_EMAIL}}">
                                      </div>

                            </div>
                            <div class="row">
                                <div class="form-group col-md-6">
                                <label for="SMTP_USERNAME">{% trans "Constant/Slug" %}</label>
                                <input type="text"  class="form-control" id="SMTP_USERNAME" readonly name="Constant_Slug"  value="SMTP_USERNAME ">
                                    </div>
                                    <div class="form-group col-md-6">
                                        <label for="SMTPUSERNAME">{% trans "Config Value" %}</label>
                                        <input type="text"  class="form-control" id="SMTPUSERNAME" required name="SMTPUSERNAME" value="{{smtpdata.SMTPUSERNAME}}">
                                      </div>

                            </div>
                            <div class="row">
                                <div class="form-group col-md-6">
                                <label for="SMTP_PASSWORD">{% trans "Constant/Slug" %}</label>
                                <input type="text"  class="form-control" id="SMTP_PASSWORD" readonly name="Constant_Slug"  value="SMTP_PASSWORD ">
                                    </div>
                                    <div class="form-group col-md-6">
                                        <label for="SMTPPASSWORD">{% trans "Config Value" %}</label>
                                        <input type="password"  class="form-control" id="SMTPPASSWORD" required name="SMTPPASSWORD" value="{{smtppass}}">
                                      </div>

                            </div>
                            <div class="row">
                                <div class="form-group col-md-6">
                                <label for="SMTP_PORT">{% trans "Constant/Slug" %}</label>
                                <input type="text"  class="form-control" id="SMTP_PORT" readonly name="Constant_Slug"  value="SMTP_PORT ">
                                    </div>
                                    <div class="form-group col-md-6">
                                        <label for="SMTPPORT">{% trans "Config Value" %}</label>
                                        <input type="text"  class="form-control" id="SMTPPORT" required name="SMTPPORT" value="{{smtpdata.SMTPPORT}}">
                                      </div>

                            </div>
                            <div class="row">
                                <div class="form-group col-md-6">
                                <label for="SMTP_TLS">{% trans "Constant/Slug" %}</label>
                                <input type="text"  class="form-control" id="SMTP_TLS" readonly name="Constant_Slug"  value="SMTP_TLS ">
                                    </div>
                                    <div class="form-group col-md-6">
                                        <label for="SMTPTLS">{% trans "Config Value" %}</label>
                                        <div class="checkbox">
                                            <input type="checkbox" id="SMTPTLS" name="SMTPTLS"  data-toggle="toggle">
                                        </div>
                                      </div>

                            </div>


                        </div>
                        {% endif %}
                        <div class="card-footer">
                  <button type="submit" class="btn btn-primary">{% trans "Submit" %}</button>
                </div>

                    </form>
                </div>
            </div>
            <div class="col-md-4">
            <div class="card card-primary card-outline">
                <div class="card-header">
                    <h3 class="card-title">
                        <i class="fa fa-exclamation"></i> {% trans "Important Rules" %}
                    </h3>
                </div><!-- /.box-header -->
                <div class="card-body">
                    <p>
                        {% trans "For each config settings that would be added to the system, make sure it has these constant/slug:" %}
                    </p>
                    <ul>
                        <li>
                            <small class="label bg-yellow">
                                SMTP_ALLOW
                            </small> - {% trans "Will be replaced by SMTP allow flag from the admin settings." %}
                        </li>
                        <li>
                            <small class="label bg-yellow">
                                SMTP_EMAIL_HOST
                            </small> - {% trans "Will be replaced by SMTP email host from the admin settings." %}
                        </li>
                        <li>
                            <small class="label bg-yellow">
                                SMTP_USERNAME
                            </small> - {% trans "Will be replaced by SMTP username from the admin settings." %}
                        </li>
                        <li>
                            <small class="label bg-yellow">
                                SMTP_PASSWORD
                            </small> - {% trans "Will be replaced by SMTP Password from the admin settings." %}
                        </li>
                        <li>
                            <small class="label bg-yellow">
                                SMTP_PORT
                            </small> - {% trans "Will be replaced by SMTP Port from admin settings." %}
                        </li>
                        <li>
                            <small class="label bg-yellow">
                                SMTP_TLS
                            </small> - {% trans "Will be replaced by SMTP tls from admin settings." %}
                        </li>

                    </ul>
                </div></div></div>

        </div>
    </section>
</div>
{% endblock %}