
{% extends 'base.html' %}
{% load i18n %}
{% load staticfiles %}
{% block styles %}

  <link rel="stylesheet" href="{% static 'plugins/summernote/summernote-bs4.css' %}">
{%endblock%}

{% block scripts %}

<script src="{% static 'plugins/summernote/summernote-bs4.min.js' %}"></script>

<script>
  $(function () {
    // Summernote

        $('.cktextarea').summernote();

  })
</script>

{% endblock %}

{% block content %}



  <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">
      {% if form.non_field_errors %}
<!--        <div class="card-body">-->
                <div class="alert alert-danger alert-dismissible col-md-12">
                  <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                  <h5><i class="icon fas fa-ban"></i> {% trans "Alert!" %}</h5>
                  {{ form.non_field_errors }}
                </div>

      {% elif form.errors %}
<!--        <div class="card-body">-->
                <div class="alert alert-danger alert-dismissible col-md-12">
                  <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                  <h5><i class="icon fas fa-ban"></i> {% trans "Alert!" %}</h5>
                  {{ form.errors }}
                </div>
        {% elif error %}
<!--        <div class="card-body">-->
                <div class="alert alert-danger alert-dismissible col-md-12">
                  <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                  <h5><i class="icon fas fa-ban"></i> {% trans "Alert!" %}</h5>
                  {{ error }}
                </div>
        {% elif msg %}
                <div class="alert alert-success alert-dismissible col-md-12">
                  <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                  <h5><i class="icon fas fa-check"></i> {% trans "Alert!" %}</h5>
                  {{msg}}
                </div>
        {% endif %}
    <!-- Content Header (Page header) -->
    <section class="content-header">
      <div class="container-fluid">
        <div class="row mb-2">
          <div class="col-sm-6">
            <h1>{% trans "Manage Page" %}</h1><h6>{% trans "Add New page" %}</h6>
          </div>
          <div class="col-sm-6">
            <ol class="breadcrumb float-sm-right">
              <li class="breadcrumb-item"><a href="/dashboard/" class="text-secondary">{% trans "Home" %}</a></li>
                <li class="breadcrumb-item"><a href="/cms-manager/pages/" class="text-secondary">{% trans "Pages" %}</a></li>
              <li class="breadcrumb-item active">{% trans "Edit Page" %}</li>
            </ol>
          </div>
        </div>
      </div><!-- /.container-fluid -->
    </section>

    <!-- Main content -->
    <section class="content">
      <div class="row">
        <div class="col-md-6" style="flex: 0 0 100%;max-width: 100%;">
            <!-- general form elements -->
            <div class="card card-primary card-outline">
              <div class="card-header">
                <h3 class="card-title" style="display:inline-block;">{% trans "Add Page" %}</h3>
                  <a href="/cms-manager/pages/" class="btn btn-default float-right" style="display:inline-block;" title="Back"><i class="fa fa-fw fa-chevron-circle-left"></i> {% trans "Back" %}</a>

              </div>
              <!-- /.card-header -->
              <!-- form start -->
              <form role="form" action="/cms-manager/pages/edit/{{cmsdata.id}}/" method="post" enctype="multipart/form-data">
                  {% csrf_token %}
                <div class="card-body">
<!--                <div class="col-md-6">-->
                    <div class="row">
                    <div class="form-group col-md-6">
                        <div class="input text required"><label for="title">{% trans "Title" %}</label>
                            <input type="text" name="title" class="form-control"  value="{{cmsdata.title}}" maxlength="150" id="title"></div>                    </div>
                    <div class="form-group col-md-6">
                        <div class="input text  "><label for="meta-title">{% trans "Meta Title" %}</label>
                            <input type="text" name="meta_title" class="form-control"  value="{{cmsdata.meta_title}}" maxlength="255" id="meta-title"></div>
                    </div>
                    </div>
                  <div class="row">
                    <div class="form-group col-md-6">
                        <div class="input text"><label for="sub-title">{% trans "Sub Title" %}</label>
                            <input type="text" name="sub_title" class="form-control"  value="{{cmsdata.sub_title}}" maxlength="150" id="sub-title"></div>                    </div>

                      <div class="form-group col-md-6">
                        <div class="input text"><label for="meta-keyword">{% trans "Meta Keyword" %}</label>
                            <input type="text" name="meta_keyword" class="form-control"  value="{{cmsdata.meta_keyword}}" maxlength="300" id="meta-keyword"></div>
                    </div>
                      <!-- /.form-group -->
                  </div>
                <div class="row">
                  <div class="form-group col-md-6">
                        <div class="input text"><label for="slug">{% trans "Slug" %}</label>
                            <input type="text" name="slug" class="form-control"  value="{{cmsdata.slug}}" maxlength="250" id="slug"></div>                    </div>
                    <div class="form-group col-md-6">
                        <div class="input textarea required"><label for="meta-description">{% trans "Meta Description" %}</label>
                            <textarea name="meta_description" class="form-control"  id="meta-description" rows="5">{{cmsdata.meta_description}}</textarea></div>
                    </div>
                    <!-- /.form-group -->
                    <!-- /.form-group -->
                </div>
                <div class="row">
                  <div class="form-group col-md-6" style="margin: -100px 0px 0px 0px;">
                        <div class="input textarea"><label for="short-description">{% trans "Short Description" %}</label>
                            <textarea name="short_description" class="form-control"  maxlength="400" id="short-description" rows="5">{{cmsdata.short_description}}</textarea></div>
                    </div>
                    <!-- /.form-group -->



                    <div class="form-group col-md-6">

                    <label for="exampleInputFile">{% trans "File input" %}</label>
                    <div class="input-group">
                      <div class="custom-file">

                        <input type="file" name="cmsfile"  class="custom-file-input" id="exampleInputFile">
                        <label class="custom-file-label" for="exampleInputFile">{% trans "Choose file" %}</label>
                      </div>
                    </div>
                  </div><!-- /.form-group -->


                </div>
                     <div class="row">
                            <div class="form-group col-md-12">
                                <!-- /.card-header -->
                                <div class="card-body pad">
                                  <div class="mb-3">
                                    <textarea class="cktextarea" name="cktextarea"
                                              style="width: 100%; height: 200px; font-size: 14px; line-height: 18px; border: 1px solid #dddddd; padding: 10px;">
                                        {{cmsdata.html_description | safe}}
                                    </textarea>
                                  </div>

                                </div>

                            </div>
                            <!-- /.col-->
                          </div>

                  <div class="row">
                      <div class="form-group" style="margin: 15px 0px 0px 0px;">
                        <div class="col-sm-offset-2 col-sm-6">
                          <button type="submit" class="btn btn-primary">{% trans "Submit" %}</button>
                        </div>
                      </div>
                      <div class="form-group" style="margin: 15px 0px 0px 0px;">
                        <div class="box-header">

                          <a href="/cms-manager/pages/"><button type="button" class="btn btn-warning"><i class="fa fa-fw fa-chevron-circle-left"></i>{% trans "Back" %}</button></a>
                        </div>
                      </div>
                        </div>
                  </div>
              </form>
            </div>

                </div>
            </div>



      <!-- ./row -->
    </section>
    <!-- /.content -->

  </div>
  <!-- /.content-wrapper -->
  {% endblock %}