
{% extends 'base.html' %}
{% load i18n %}
{% load staticfiles %}
{% block styles %}
{%endblock%}
{% block scripts %}
{% endblock %}
{% block content %}
{% csrf_token %}



<div class="content-wrapper" style="min-height: 319px;">

<section class="content-header">
      <div class="container-fluid">
        <div class="row mb-2">
          <div class="col-sm-6">
              <h1>{% trans "Manage Email" %} <h6>{% trans "Hook Email Hook Detail" %}</h6></h1>
          </div>
          <div class="col-sm-6">
            <ol class="breadcrumb float-sm-right">
              <li class="breadcrumb-item"><a href="/dashboard/" class="text-secondary">{% trans "Home" %}</a></li>
                <li class="breadcrumb-item"><a href="/email-manager/email-templates/" class="text-secondary">{% trans "Email templates" %}</a></li>
              <li class="breadcrumb-item active">{% trans "View Email template" %}</li>
            </ol>
          </div>
        </div>
      </div>
    </section>

<section class="content" data-table="users">
    <div class="container-fluid">
        <div class="row">
        <div class="col-md-12">
        <div class="card card-primary card-outline">
        <div class="card-header">
            <h3 class="card-title" style="display:inline-block">{{emailtamps.emailhooks.title}}</h3>
            <a href="/email-manager/email-templates/" class="btn btn-default float-right" title="Back" style="display:inline-block"><i class="fa fa-fw fa-chevron-circle-left"></i> {% trans "Back" %}</a>
        </div>
        <div class="box-body">
            {% if emailtamps %}
            <table class="table table-hover table-striped">
                <tbody>
                <tr>
                    <th scope="row">{% trans "ID" %}</th>
                    <td>{{emailtamps.id}}</td>
                </tr>
                <tr>
                    <th scope="row">{% trans "Email Hook" %}</th>
                    <td><a href="/email-manager/email-hooks/view/{{emailtamps.emailhooks.id}}/">{{emailtamps.emailhooks.title}}</a></td>
                </tr>
                <tr>
                    <th scope="row">{% trans "Subject" %}</th>
                    <td>{{emailtamps.subject}}</td>
                </tr>
                {% if mellist %}
                <tr>
                    <th scope="row">{% trans "Email Preference" %}</th>
                    <td><a href="/email-template/email-preferences/view/{{mellist.id}}/">{{mellist.title}}</a></td>
                </tr>
                {% endif %}
                <tr>
                    <th scope="row">{% trans "Created" %}</th>
                    <td>{{emailtamps.createdat}}</td>
                </tr>
                <tr>
                    <th scope="row">{% trans "Modified" %}</th>
                    <td>{{emailtamps.updatedat}}</td>
                </tr>

                {% if emailtamps.status == 1 or emailtamps.status == True %}
                <tr>
                    <th scope="row">{% trans "Status" %}</th>
                    <td>{% trans "Yes" %}</td>
                </tr>
                {% elif  emailtamps.status == 0 or emailtamps.status == False   %}
                <tr>
                    <th scope="row">{% trans "Status" %}</th>
                    <td>{% trans "NO" %}</td>
                </tr>
                {% endif %}
                 <tr>
                    <th scope="row">{% trans "Description" %}</th>
                    <td>{{emailtamps.ckeditor | safe}}</td>
                </tr>
            </tbody></table>
            {% endif %}

        </div>

    </div>
    </div>
        </div></div>
</section>
            </div>

{% endblock %}